<tr>
    <td>
        {{startId}}
    </td>
    <td>
        <div class="form-group">
            <select name="relationship-{{startId}}:{{endId}}" class="form-control">
                <option value="no-relationship">No relationship</option>
                <option value="gives-way">Gives way to</option>
                <option value="group">Moves together as group</option>
                <option value="avoids">Avoids</option>
                <option value="unsure">Unsure</option>
            </select>
        </div>
    </td>
    <td>
        {{endId}}
    </td>
    <td>
        <button type="button" class="btn btn-danger btn-delete"><i class="fas fa-trash"></i></button>
    </td>
</tr>
