<tr>
    <td>
        {{startId}}
    </td>
    <td>
        {{endId}}
    </td>
    <td>
        {{relationship}}
    </td>
    <td>
        <button type="button" class="btn btn-danger btn-delete"><i class="fas fa-trash"></i></button>
    </td>
</tr>
